<h1>First Name: <%= @people.find(1).first_name %></h1>
<h1>Last Name: <%= @people.find(1).last_name %></h1>
<h1>Email: <%= @people.find(1).email %></h1>
<h1>Phone Number <%= @people.find(1).phone_number %></h1>


<h1>First Name: <%= @people.find(2).first_name %></h1>
<h1>Last Name: <%= @people.find(2).last_name %></h1>
<h1>Email: <%= @people.find(2).email %></h1>
<h1>Phone Number <%= @people.find(2).phone_number %></h1>


<h1>First Name: <%= @people.find(3).first_name %></h1>
<h1>Last Name: <%= @people.find(3).last_name %></h1>
<h1>Email: <%= @people.find(3).email %></h1>
<h1>Phone Number <%= @people.find(3).phone_number %></h1>